.account-navbar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0px;
}

.account-navbar-menu{
    padding-left: 80px;
    padding-right: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #00DE0E;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    cursor: pointer;
    color: #141414;
    transition: 0.3s;

}
.account-navbar-menu button{
    border: none;
    background-color: #00DE0E;
}

.account-navbar .active{
    color: #00DE0E;
    background-color: #141414   ;
}